!!!
%html{:lang => @locals[:locale].to_s}
  %head
    %title
      = t(:site_title)
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="Bitmask is an open source application to provide easy and secure encrypted communication. You can choose among several different service providers or start your own. Currently, Bitmask supports encrypted internet (VPN) and encrypted email.")
    %meta(name="keywords" content="vpn, openvpn, bitmask, encryption, android, linux")
    %meta(charset="UTF-8")
    %link(rel="stylesheet" href="/assets/bootstrap.min.css")
    %link(rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css")
    %link(rel="stylesheet" href="/assets/style.css")
    %link(rel="icon" href="/favicon.ico" type="image/x-icon")
    = html_head_base
  %body.home
    #wrap
      #masthead
        = render 'layouts/masthead'
      #main
        .container
          .row
            .col-sm-12
              .locale-links
                - available_languages.each do |name, code, url|
                  %a.label{:href => url, :class => (I18n.locale == code ? 'label-primary' : '')}= name
        .dark
          .container
            .row
              .col-sm-12
                .introtext
                  = render 'home/intro'
                .download.text-left
                  %a.btn.btn-large.btn-primary{:href => 'install'}
                    %i.fa.fa-download.fa-2x
                    %span
                      = t :download_bitmask
        = yield :content
    #footer
      = render 'layouts/footer'
