!!!
%html{:lang => @locals[:locale].to_s}
  %head
    %title
      = t(:site_title)
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(charset="UTF-8")
    %link(rel="stylesheet" href="/assets/bootstrap.min.css")
    %link(rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css")
    %link(rel="stylesheet" href="/assets/style.css")
    %link(rel="icon" href="/favicon.ico" type="image/x-icon")
    = html_head_base
  %body.home
    #wrap
      #masthead
        = render 'layouts/masthead'
      #main
        .darker
          .container
            .row
              .col-sm-9
                .introtext
                  = render 'home/intro'
              .col-sm-3
                .download.text-left
                  %a.btn.btn-large.btn-primary{:href => 'install'}
                    %i.fa.fa-download.fa-2x
                    %span
                      = t :download_bitmask
        .container
          .shadow-box
            .content-box
              = yield :content
    #footer
      = render 'layouts/footer'
