.light
  .container
    .row
      .col-sm-12
        %h1.b= t :services
        %p.big
          = t :bitmask_app_blurb
      .col-lg-6
        .heading
          %span
            %i.fa.fa-shield
            = t :bitmask_vpn
        %p.big
          = t :bitmask_vpn_blurb

.lighter
  .container
    .row
      .col-sm-12
        %h1.b#providers= t :supported_providers
        %p.big
          = t :supported_providers_text
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/calyx.net.png')
          .b
            [[calyx.net => https://calyx.net]]
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/codigosur.org.png')
          .b
            [[codigosur.org => https://codigosur.org/servicios]]
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/colnodo.png')
          .b
            [[colnodo => https://leapcolombia.org]]
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/riseup.net.png')
          .b
            [[riseup.net => https://black.riseup.net]]
.light
  .container
    .row
      .col-sm-12
        %h1.b= t :fork_our_code
        = render 'home/code'

.lighter
  .container
    .row
      .col-sm-12
        %h1.b= t :about_us
        = render 'home/about'
