.lighter
  .container
    .row
      .col-sm-12
        %h1#features Features

        %p The <b>Bitmask</b> application is designed to have a <b>friendly</b> interface with <b>automatic</b> configuration. You simply start the application, register with the compatible service provider of your choice, and away you go.

.lighter
  .container
    .row
      .col-sm-2.text-right
        .h2
          %i.fa.fa-shield.fa-3x
      .col-sm-10.text-left
        .h2
          %span< Encrypted Internet Proxy
        %p.pad With Encrypted Internet Proxy (EIP) all your traffic is encrypted and routed through your provider before it is decrypted and sent on to the open internet.
        %ul
          %li <b>Block Monitoring</b>: EIP is very effective at bypassing most censorship and network surveillance by your ISP or country.
          %li <b>Anonymous IP</b>: EIP also hides your IP address, keeping your physical location safe from nefarious websites.
          %li <b>Extra Security</b>: We take extra security measures to prevent problems common to VPN, such as DNS leakage and IPv6 leakage.

.lighter
  .container
    .row
      .col-sm-2.text-right
        .h2
          %i.fa.fa-envelope.fa-2x
      .col-sm-10.text-left
        .h2
          %span Encrypted Email
        %p.pad Bitmask Encrypted Email is easy to use while still being backward compatible with the existing OpenPGP protocol for secure email.
        %ul
          %li <b>Secure Email Storage</b>: All incoming email is automatically encrypted so only you can read it (including meta-data).
          %li <b>Automatic Key Management</b>: If possible, outgoing email is automatically encrypted so that only the recipient can read it (if a valid OpenPGP public key can be automatically discovered and validated for the recipient).

.dark
  .container
    .row
      .col-sm-12
        %h1#security Security
        %ul
          %li
            <b>Client encrypted storage</b>:
            All data storage is encrypted, including local data and cloud backups. This encryption always [[takes place on your device => https://leap.se/en/soledad]], so the service provider cannot read your stored data.
          %li *Availability*: Your data is always available and [[synchronized to the devices => https://leap.se/en/soledad]] you choose.
          %li *Passwords, Improved*: Although you specify a username and password to login, your [[password is never communicated to the provider => https://en.wikipedia.org/wiki/Secure_Remote_Password_protocol]].
          %li *Up to date*: The Bitmask application is always kept up to date with the latest security patches (coming soon).
          %li *Don't trust the provider*: If you download the Bitmask application from [[dl.bitmask.net => https://dl.bitmask.net]], your service provider cannot add a backdoor to compromise your security.
        %p As with any security system, Bitmask has [[known limitations => https://leap.se/en/limitations]]. For technical details, see our [[design documentation' => 'https://leap.se/en/design]].

.light
  .container
    .row
      .col-sm-12
        %h1#providers Supported providers

        %p The following service providers are compatible with the Bitmask application:

        %ul
          %li= link 'demo.bitmask.net' => 'https://demo.bitmask.net'
          %li
            = link 'calyx.net' => 'https://calyx.net'
          %li
            = link 'oblivia.vc' => 'https://oblivia.vc'
            (coming soon)
          %li
            = link 'riseup.net' => 'https://riseup.net'


        %p Start your own compatible service provider with the free software #{link 'LEAP platform' => 'https://leap.se/en/platform'}.

.darker
  .container
    .row
      .col-sm-6
        %h1#code Fork our code

        %p <b>Hey, you! We could use a hand here</b>. You want communication free of surveillance, based on open protocols, and that gives users control over their own data? Well, grab a keyboard and #{link 'pitch in' => 'https://leap.se/en/get-involved'}&mdash;the code is not going to write itself.

        %p In particular, if you have finely honed skill in Python, Android Java, Ruby, C, CouchDB, Windows, Mac, Puppet, Qt, or you really love crypto, we could sure use your help.

        %ol
          %li #{link 'Fork our code' => 'https://leap.se/en/source'}.
          %li Create a new branch from develop called feature/x or bugfix/x.
          %li Hack away.
          %li Issue a pull request on github from your feature or bugfix branch to the upstream develop branch.
          %li Discuss and wait for request to be merged.
          %li Repeat.

        %p Currently, we release a new version of the Bitmask application every two weeks, and other components as necessary.

      .col-sm-6
        %h1#about-us About us

        %img{src:'/assets/images/leap-small.png', align:'right'}

        %p The <b>Bitmask</b> application is lovingly hand-crafted by a team of paid and volunteer programmers from seven different countries. Development is principally sponsored by the #{link 'LEAP Encryption Access Project' => 'https://leap.se'}, an non-profit organization dedicated to defending democracy by <b>protecting the right to whisper</b>.

        %p The service provider <b>bitmask.net</b> is operated by LEAP in order to demonstrate usage of the <b>Bitmask</b> application. However, we actively encourage other organizations to start their own compatible service providers by using our free software #{link 'platform for server automation' => 'https://leap.se/en/platform'}.
