.row
  .col-sm-12
    %p.big
      = t :bitmask_app_blurb

.row
  .col-sm-6
    .heading
      %span
        %i.fa.fa-shield
        = t :bitmask_vpn
    %p.big
      = t :bitmask_vpn_blurb
  .col-sm-6
    .heading
      %span
        %i.fa.fa-envelope
        = t :encrypted_email
    %p.big
      = t :encrypted_email_blurb

.row
  .col-sm-12
    .heading#providers
      %span
        %i.fa.fa-institution
        = t :supported_providers

    %p.big
      = t :supported_providers_text

    .row
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/demo.bitmask.net.png')
          .b
            [[demo.bitmask.net => https://demo.bitmask.net]]
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/calyx.net.png')
          .b
            [[calyx.net => https://calyx.net]]
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/oblivia.vc.png')
          .b
            [[oblivia.vc => https://oblivia.vc]]
      .col-lg-2.col-md-3.col-sm-3.col-xs-4
        .thumbnail
          %img(src='/assets/providers/riseup.net.png')
          .b
            [[riseup.net => https://black.riseup.net]]

.row
  .col-sm-6
    .heading
      %span
        %i.fa.fa-code-fork
        = t :fork_our_code
    = render 'home/code'

  .col-sm-6
    .heading
      %span
        %i.fa.fa-group
        = t :about_us
    = render 'home/about'
